{% extends "base/base.html" %}
{% load custom_filters %}

{% block content %}
<div class="card">
    <div class="card-body p-5">
        <h3 class="text-center mb-4">设置新密码</h3>
        {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.new_password2|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-dark w-100 mt-3">确认修改</button>
        </form>
        {% else %}
        <p class="text-center text-danger">
            这个密码重置链接无效，可能已被使用。请重新申请密码重置。
        </p>
        <div class="text-center">
            <a href="{% url 'password_reset' %}" class="btn btn-dark mt-3">重新申请</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}